dist: xenial
language: node_js
cache: yarn
node_js:
  - '10'
  - '12'
install:
- yarn install --frozen-lockfile
after_failure:
- yarn build -- --inspect
script:
- yarn lint
- yarn build
- yarn test
after_success: yarn coveralls
