:root {
  --nightlyBlue: #1f366c;
  --nightlyBlueVibrant: #1e4488;
  --developerBlue: #005189;
  --developerBlueVibrant: #005da5;
  --mobileBlue: #0c99d5;
  --mobileBlueVibrant: #00a7e0;
  --summitTeal: #00af84;
  --summitTealVibrant: #5bc0a4;
  --geckoGreen: #6fbe4a;
  --geckoGreenVibrant: #7dc14c;
  --flameYellow: #ffcd02;
  --flameYellowVibrant: #ffda00;
  --marketOrange: #f18a21;
  --marketOrangeVibrant: #f89c24;
  --firefoxOrange: #e55525;
  --firefoxOrangeVibrant: #f26c23;
  --dinoRed: #c33b32;
  --dinoRedVibrant: #e63d2f;
  --bikeshedMagenta: #e14164;
  --bikeshedMagentaVibrant: #ee5195;
  --auroraPurple: #682666;
  --auroraPurpleVibrant: #95368c;

  --lightGray: #d1d2d3;
  --darkGray: #56565a;

  --tint: +15%;
  --tinter: +30%;

  --nightlyBlueTint: color(var(nightlyBlue) lightness(var(tint)));
  --nightlyBlueTinter: color(var(nightlyBlue) lightness(var(tinter)));
  --nightlyBlueVibrantTint: color(var(nightlyBlueVibrant) lightness(var(tint)));
  --nightlyBlueVibrantTinter: color(var(nightlyBlueVibrant) lightness(var(tinter)));
  --developerBlueTint: color(var(developerBlue) lightness(var(tint)));
  --developerBlueTinter: color(var(developerBlue) lightness(var(tinter)));
  --developerBlueVibrantTint: color(var(developerBlueVibrant) lightness(var(tint)));
  --developerBlueVibrantTinter: color(var(developerBlueVibrant) lightness(var(tinter)));
  --mobileBlueTint: color(var(mobileBlue) lightness(var(tint)));
  --mobileBlueTinter: color(var(mobileBlue) lightness(var(tinter)));
  --mobileBlueVibrantTint: color(var(mobileBlueVibrant) lightness(var(tint)));
  --mobileBlueVibrantTinter: color(var(mobileBlueVibrant) lightness(var(tinter)));
  --summitTealTint: color(var(summitTeal) lightness(var(tint)));
  --summitTealTinter: color(var(summitTeal) lightness(var(tinter)));
  --summitTealVibrantTint: color(var(summitTealVibrant) lightness(var(tint)));
  --summitTealVibrantTinter: color(var(summitTealVibrant) lightness(var(tinter)));
  --geckoGreenTint: color(var(geckoGreen) lightness(var(tint)));
  --geckoGreenTinter: color(var(geckoGreen) lightness(var(tinter)));
  --geckoGreenVibrantTint: color(var(geckoGreenVibrant) lightness(var(tint)));
  --geckoGreenVibrantTinter: color(var(geckoGreenVibrant) lightness(var(tinter)));
  --flameYellowTint: color(var(flameYellow) lightness(var(tint)));
  --flameYellowTinter: color(var(flameYellow) lightness(var(tinter)));
  --flameYellowVibrantTint: color(var(flameYellowVibrant) lightness(var(tint)));
  --flameYellowVibrantTinter: color(var(flameYellowVibrant) lightness(var(tinter)));
  --marketOrangeTint: color(var(marketOrange) lightness(var(tint)));
  --marketOrangeTinter: color(var(marketOrange) lightness(var(tinter)));
  --marketOrangeVibrantTint: color(var(marketOrangeVibrant) lightness(var(tint)));
  --marketOrangeVibrantTinter: color(var(marketOrangeVibrant) lightness(var(tinter)));
  --firefoxOrangeTint: color(var(firefoxOrange) lightness(var(tint)));
  --firefoxOrangeTinter: color(var(firefoxOrange) lightness(var(tinter)));
  --firefoxOrangeVibrantTint: color(var(firefoxOrangeVibrant) lightness(var(tint)));
  --firefoxOrangeVibrantTinter: color(var(firefoxOrangeVibrant) lightness(var(tinter)));
  --dinoRedTint: color(var(dinoRed) lightness(var(tint)));
  --dinoRedTinter: color(var(dinoRed) lightness(var(tinter)));
  --dinoRedVibrantTint: color(var(dinoRedVibrant) lightness(var(tint)));
  --dinoRedVibrantTinter: color(var(dinoRedVibrant) lightness(var(tinter)));
  --bikeshedMagentaTint: color(var(bikeshedMagenta) lightness(var(tint)));
  --bikeshedMagentaTinter: color(var(bikeshedMagenta) lightness(var(tinter)));
  --bikeshedMagentaVibrantTint: color(var(bikeshedMagentaVibrant) lightness(var(tint)));
  --bikeshedMagentaVibrantTinter: color(var(bikeshedMagentaVibrant) lightness(var(tinter)));
  --auroraPurpleTint: color(var(auroraPurple) lightness(var(tint)));
  --auroraPurpleTinter: color(var(auroraPurple) lightness(var(tinter)));
  --auroraPurpleVibrantTint: color(var(auroraPurpleVibrant) lightness(var(tint)));
  --auroraPurpleVibrantTinter: color(var(auroraPurpleVibrant) lightness(var(tinter)));
}
