:root {
  --fontSize: 0.75rem;
}
@media (min-width: 1000px) and (min-height: 700px) {
  :root {
    --fontSize: 1rem;
  }
}

:root {
  --baseFontFamily: 'Open Sans', sans-serif;
  --lineHeight: calc(var(--fontSize) * 1.42857);
  --capHeight: calc(var(--fontSize) * 0.75);
  --gutterX: var(--fontSize);
  --gutterY: var(--lineHeight);
  --gutter: var(--gutterY) var(--gutterX);
  --rythmRatio: 1.335;
  --smallFontSize: calc(var(--fontSize) / var(--rythmRatio));

  --h1FontSize: calc(var(--fontSize) * var(--rythmRatio) * var(--rythmRatio) * var(--rythmRatio) * var(--rythmRatio));
  --h1Lines: 2;
  --h1LineHeight: calc(var(--lineHeight) * var(--h1Lines));
  --h1BaseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h1PaddingTop: var(--h1BaseLineDistance);
  --h1MarginBottom: calc(var(--lineHeight) - var(--h1BaseLineDistance));

  --h2FontSize: calc(var(--fontSize) * var(--rythmRatio) * var(--rythmRatio) * var(--rythmRatio));
  --h2Lines: 1;
  --h2LineHeight: calc(var(--lineHeight) * var(--h2Lines));
  --h2BaseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h2PaddingTop: var(--h2BaseLineDistance);
  --h2MarginBottom: calc(var(--lineHeight) - var(--h2BaseLineDistance));

  --h3FontSize: calc(var(--fontSize) * var(--rythmRatio) * var(--rythmRatio));
  --h3Lines: 1;
  --h3LineHeight: calc(var(--lineHeight) * var(--h3Lines));
  --h3BaseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h3PaddingTop: var(--h3BaseLineDistance);
  --h3MarginBottom: calc(var(--lineHeight) - var(--h3BaseLineDistance));

  --h4FontSize: calc(var(--fontSize) * var(--rythmRatio));
  --h4Lines: 1;
  --h4LineHeight: calc(var(--lineHeight) * var(--h4Lines));
  --h4BaseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h4PaddingTop: var(--h4BaseLineDistance);
  --h4MarginBottom: calc(var(--lineHeight) - var(--h4BaseLineDistance));

  --h5FontSize: calc(var(--fontSize));
  --h5Lines: 1;
  --h5LineHeight: calc(var(--lineHeight) * var(--h5Lines));
  --h5BaseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h5PaddingTop: var(--h5BaseLineDistance);
  --h5MarginBottom: calc(var(--lineHeight) - var(--h5BaseLineDistance));

  --h6FontSize: calc(var(--fontSize) / var(--rythmRatio));
  --h6Lines: 1;
  --h6LineHeight: calc(var(--lineHeight) * var(--h6Lines));
  --h6BaseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h6PaddingTop: var(--h6BaseLineDistance);
  --h6MarginBottom: calc(var(--lineHeight) - var(--h6BaseLineDistance));
}

@media (min-width: 1200px) and (min-height: 800px) {
  :root {
    --h1FontSize: calc(var(--fontSize) * var(--rythmRatio) * var(--rythmRatio) * var(--rythmRatio) * var(--rythmRatio) * var(--rythmRatio) * var(--rythmRatio));
    --h1Lines: 3;
    --h2FontSize: calc(var(--fontSize) * var(--rythmRatio) * var(--rythmRatio) * var(--rythmRatio)* var(--rythmRatio));
    --h1Lines: 2;
  }
}

@define-placeholder h1 {
  font-size: var(--h1FontSize);
  line-height: var(--h1LineHeight);
  padding-top: var(--h1PaddingTop);
  margin-bottom: var(--h1MarginBottom);
  margin-top: 0;
}
@define-placeholder h2 {
  font-size: var(--h2FontSize);
  line-height: var(--h2LineHeight);
  padding-top: var(--h2PaddingTop);
  margin-bottom: var(--h2MarginBottom);
  margin-top: 0;
}
@define-placeholder h3 {
  font-size: var(--h3FontSize);
  line-height: var(--h3LineHeight);
  padding-top: var(--h3PaddingTop);
  margin-bottom: var(--h3MarginBottom);
  margin-top: 0;
}
@define-placeholder h4 {
  font-size: var(--h4FontSize);
  line-height: var(--h4LineHeight);
  padding-top: var(--h4PaddingTop);
  margin-bottom: var(--h4MarginBottom);
  margin-top: 0;
}
@define-placeholder h5 {
  font-size: var(--h5FontSize);
  line-height: var(--h5LineHeight);
  padding-top: var(--h5PaddingTop);
  margin-bottom: var(--h5MarginBottom);
  margin-top: 0;
}
@define-placeholder h6 {
  font-size: var(--h6FontSize);
  line-height: var(--h6LineHeight);
  padding-top: var(--h6PaddingTop);
  margin-bottom: var(--h6MarginBottom);
  margin-top: 0;
}
