@import "css/colors.css";
@import "css/rhythm.css";
@import "metrics-graphics/dist/metricsgraphics.css";

* {
	box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: var(--baseFontFamily);
	font-size: var(--fontSize);
  line-height: var(--lineHeight);
  -webkit-text-size-adjust: 100%;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-content: stretch;
}
a {
  color: inherit;
  text-decoration: none;
	&:hover {
		color: var(--mobileBlue);
		text-decoration: underline;
	}
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.dashboard-title {
  text-align: left;
  padding: 0 var(--gutterX);
	display: flex;
	align-items: center;
  h1 {
		flex: 1;
    @extend h4;
		margin-bottom: 0;
    font-weight: 700;
    small {
      padding-left: var(--gutterX);
      display: inline-block;
      @extend h4;
      color: var(--lightGray);
      font-weight: 400;
    }
  }
	.dashboard-note {
		color: var(--lightGray);
		padding-left: calc(var(--gutterX));
	}
	.dashboard-source {
		font-size: var(--smallFontSize);
		line-height: var(--fontSize);
		color: var(--darkGray);
		padding-left: calc(var(--gutterX));
		a {
			color: var(--mobileBlueVibrant);
			text-align: right;
			&:last-child {
				display: block;
			}
		}
	}
	.dashboard-link {
		padding: calc(var(--gutterY) / 2) calc(var(--gutterX) / 2);
		color: var(--mobileBlueVibrant);
		@extend h4;
		display: none;
	}
}
.state-fullscreen .dashboard-link {
	display: block;
}
.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.state-loading .dashboard-main, section.state-loading {
  animation: appear 1s ease-in-out;
  @extend h2;
  font-weight: 300;
	align-items: center;
	justify-content: center;
}
.home .dashboard-main {
  align-items: center;
  justify-content: center;
}
.home .dashboard-main h2 {
	@extend h2;
	margin-top: calc(var(--gutterY) * 2);
	font-weight: 300;
	color: var(--darkGray);
}
.home .dashboard-main a {
  @extend h2;
	margin-top: calc(var(--gutterY) / 2);
}
.status-index .dashboard-main {
	flex-direction: row;
	width: 100vw;
}

.row {
	flex: 1;
  display: flex;
	padding: var(--gutterY) var(--gutterX) var(--gutterY);

	.aside {
		width: calc(2 * var(--gutterY));
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			transform-origin: center;
			white-space: nowrap;
			font-size: var(--h5FontSize);
			transform: rotateZ(-90deg);
			a {
				font-weight: 700;
			}
		}
	}
}
.graphic {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg line {
  stroke-width: 1;
}
svg text {
  fill: #fff;
}
svg path {
}

.mg-header,
.graphic.state-loading {
  opacity: 1;
  color: var(--lightGray);
  fill: var(--lightGray);
  font-weight: lighter;
  @extend h3;
}
.mg-main-line {
  stroke-width: 2 !important;
}
.mg-line2-color {
  stroke: var(--flameYellowVibrant);
}
.mg-line3-color {
  stroke: var(--mobileBlueVibrant);
	opacity: 0.3 !important;
}
.mg-area1-color {
  fill: var(--flameYellowVibrant);
}

.axis-rate {
  line {
    stroke: rgba(255, 255, 255, 0.3);
    stroke-dasharray: 1, 2;
  }
  text {
    stroke: rgba(255, 255, 255, 1);
  }
}

svg {
  height: 100%;
  width: 100%;
}
.graphic-details,
.graphic-timeline {
	display: flex;
	align-items: center;
	justify-content: center;
}

.graphic-timeline {
	flex: 1;
}
.graphic-details {
	height: calc(var(--lineHeight) * 5);
	@media (min-width: 1200px) and (min-height: 800px) {
		height: calc(var(--lineHeight) * 7);
	}
}
.graphic-widget, .criteria-widget {
	background-color: #fff;
	flex-direction: column;
	align-items: stretch;
	&:not(:first-child) {
		margin-left: calc(var(--gutterX) * 2);
	}
	header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		text-align: left;
		padding-right: calc(var(--gutterX));
		border-top: calc(var(--gutterY) / 4) solid #fff;
		h3 {
			margin: 0;
			padding: 0;
			font-size: var(--h4FontSize);
			padding: 0 calc(var(--gutterX) / 2);
			font-weight: 400;
			display: inline-block;
			background-color: #fff;
			color: #000;
		}
		aside {
			padding-left: calc(var(--gutterX) / 2);
			font-size: var(--fontSize);
			color: var(--darkGray);
			font-weight: 400;
			em {
				font-weight: 700;
				color: #333;
				font-style: normal;
			}
		}
	}
	&.status-red {
		header {
			border-top-color: var(--newCoral);
			h3 {
				background-color: var(--newCoral);
			}
		}
	}
	&.status-yellow {
		header {
			border-top-color: var(--newYellow);
			h3 {
				background-color: var(--newYellow);
			}
		}
	}
	&.status-green {
		header {
			border-top-color: var(--newLime);
			h3 {
				background-color: var(--newLime);
			}
		}
	}
	.widget-content {
		flex: 1;
		display: flex;
		align-self: stretch;
		color: var(--darkGray);
		&.state-loading {
			justify-content: center;
			align-items: center;
		}
		em {
			font-weight: 700;
			color: #333;
			font-style: normal;
			font-size: var(--h4FontSize);
		}
	}
	.series-path {
		stroke: color(var(--newCyan) saturation(100%) shade(20%));
		stroke-width: 2;
		fill: none;
		&.series-1 {
			stroke: color(var(--newLilac) saturation(100%) shade(20%));
		}
	}
	circle.series {
		fill: var(--newCyan);
		opacity: 0.2;
		&.series-1 {
			fill: var(--newLilac);
		}
	}
	.series-area {
		fill: var(--newCyan);
		opacity: 0.25;
		&.series-1 {
			fill: var(--newLilac);
		}
	}
	.legend {
		text-anchor: start;
		font-size: var(--smallFontSize);
		fill: color(var(--newCyan) saturation(100%) shade(20%));
		&.series-1 {
			fill: color(var(--newLilac) saturation(100%) shade(20%));
		}
	}
	.tick {
		line {
			stroke: var(--lightGray);
			opacity: 0.5;
			stroke-dasharray: 1, 2;
			stroke-width: 1;
		}
		text {
			fill: var(--darkGray);
			opacity: 0.5;
			font-size: var(--smallFontSize);
			text-anchor: start;
			font-weight: 300;
			transform: translate(0, calc(var(--smallFontSize)));
		}
	}
	.tick-x {
		text {
			text-anchor: middle;
			transform: translate(0, calc(var(--smallFontSize) / -4));
		}
	}
	.reference {
		stroke: var(--newNeonPink);
		stroke-dasharray: 1, 2;
		stroke-width: 2;
	}
}
.graphic-timeline .widget-content {
	min-height: 250px;
}


.summary h2 {
	border-top: 2px solid #fff;
	@extend h3;
	font-weight: 300;
	color: var(--lightGray);
	padding: calc(var(--gutterY) / 2) 0;
	margin: calc(var(--gutterY)) var(--gutterX) 0;
}
.summary .row {
	background-color: #fff;
}

.criteria-widget {
	flex: 1;
	h4 {
		padding-top: calc(var(--gutterY));
		font-weight: 300;
		small {
			display: block;
			color: var(--darkGray);
			font-size: var(--smallFontSize);
		}
	}
	span {
		font-weight: bold;
		font-size: var(--h4FontSize);
	}
	.widget-content {
		flex: 1;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.widget-entry {
			padding: calc(var(--gutterY) * 1.5) var(--gutterX);
		}
	}
}

.graphic-scores {
	display: flex;
	align-items: center;
}
.row .graphic-scores {
	flex-direction: column;
	justify-content: space-around;
}

.scores {
  display: flex;
	align-items: center;
	justify-content: space-around;
}
.score {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	text-align: center;
  .score-main {
		font-size: var(--h2FontSize);
		line-height: var(--h1LineHeight);
    color: var(--lightGray);
    font-weight: 400;
  }
  .score-extra {
    font-weight: 300;
    font-size: var(--h3FontSize);
		line-height: var(--h1LineHeight);
    color: var(--darkGray);
    display: inline-block;
    padding-left: calc(var(--gutterX) / 2);
  }
	.score-label {
		text-transform: uppercase;
		color: var(--darkGray);
		display: inline-block;
		white-space: nowrap;
	}
}
.state-highlight {
	.score-main {
		color: #fff;
		font-size: var(--h1FontSize);
	}
}

.release {
  .release-tick,
	.release-today {
    stroke: rgba(255, 255, 255, 0.7);
  }
  .release-label {
    opacity: 1;
    font-size: var(--h2FontSize);
		fill: var(--lightGray);
  }
	&.state-current {
		.release-label {
			fill: #fff;
		}
	}
  .release-date {
    opacity: 0.8;
    font-weight: lighter;
  }
  .release-line {
    stroke-width: 2;
    opacity: 1;
    fill: none;
  }
  .release-line-content {
    stroke-width: 2;
    opacity: 1;
    fill: none;
		opacity: 0.5;
  }
  .release-area {
    opacity: 0.2;
    stroke: none;
  }
  .candidate-build {
    opacity: 0.25;
  }
  .candidate {
		.candidate-no-signal {
			opacity: 0.4;
		}
    .candidate-hours {
			opacity: 0.35;
		}
    .candidate-label {
      opacity: 0.8;
      font-weight: lighter;
    }
    .candidate-rate {
      opacity: 0.35;
      fill: none;
    }
  }
}

.features {
	width: 33%;

	h2 {
		flex: 1;
		margin: 0;
		padding: 0 var(--gutterX);
		font-size: var(--h4FontSize);
		line-height: var(--h1LineHeight);
		color: var(--darkGray);
		font-weight: 400;
		text-align: right;
	}

	> .table-row {
		display: flex;

		> span {
			font-weight: normal;
			border: 1px solid transparent;
			position: relative;
		}

		.feature-title {
			flex: 1;
			overflow: hidden;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: var(--h4FontSize);
			line-height: var(--h1LineHeight);
			min-width: 0;
			padding: 0 var(--gutterX) 0 calc(var(--gutterX) * 2);
		}

		.icon-ref {
			position: absolute;
			right: calc(var(--gutterX) / 4);
			top: calc(var(--gutterY) / 4);
			text-align: left;
			width: var(--gutterX);
			height: var(--gutterY);
			color: #000;
			opacity: 0.5;
			&.icon-bz {
				background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QXJ0Ym9hcmQgMTwvdGl0bGU+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZWxsaXBzZSBmaWxsPSIjMDAwIiBjeD0iOCIgY3k9IjkiIHJ4PSI1IiByeT0iNiIvPjxwYXRoIGQ9Ik0xNCA5LjVIMk0xMyAxM0wyLjUgNk0xMy41IDZMMyAxMyIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxjaXJjbGUgZmlsbD0iIzAwMCIgY3g9IjgiIGN5PSI0IiByPSIzIi8+PC9nPjwvc3ZnPg==') center right no-repeat;
				width: var(--gutterX);
				height: var(--gutterY);
				background-size: contain;
				display: inline-block;
			}
		}

		.feature-status {
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc(var(--gutterX) * 3);
			font-weight: 300;
			text-transform: uppercase;
			padding: 0 calc(var(--gutterX) / 4);
			text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
			overflow: hidden;
			white-space: nowrap;
			min-width: 0%;
			font-size: var(--smallFontSize);
			&.status-firefox {
				width: calc(var(--gutterX) * 5);
			}
			&.status-nope {
				background-color: var(--dinoRed);
				border-color: color(var(--dinoRed) shade(25%));
			}
			&.status-shrug {
				color: rgba(255, 255, 255, 0.5);
			}
			&.status-under-consideration {
				background-color: var(--marketOrange);
				border-color: color(var(--marketOrange) shade(25%));
			}
			&.status-in-development {
				background-color: var(--flameYellow);
				border-color: color(var(--flameYellow) shade(25%));
			}
			&.status-shipped {
				background-color: var(--geckoGreen);
				border-color: color(var(--geckoGreen) shade(25%));
			}
			&.status-versioned {
				font-size: var(--fontSize);
				font-weight: 700;
			}
		}
	}
}

.mg-x-axis line,
.mg-y-axis line,
.mg-baselines line,
.mg-markers line {
  opacity: 0.5;
}

.mg-x-axis text,
.mg-y-axis text,
.mg-baselines text,
.mg-markers text,
.mg-histogram .axis text,
.mg-active-datapoint {
  fill: #fff;
  opacity: 1;
  font-size: 1rem;
  font-weight: 400;
}
.mg-markers text {
	font-weight: 400;
	opacity: 1;
	font-size: var(--smallFontSize);
	opacity: 0.7;
	font-weight: 300;
	@media (min-width: 1200px) {
		font-weight: 300;
	}
}
.mg-barplot rect.mg-bar {
	fill: var(--dinoRed);
}

.dashboard-metric {
	.channel-label {
		text {
			fill: var(--lightGray);
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 200), -1px -1px 1px rgba(0, 0, 0, 200);
			font-weight: 700;
			stroke: none;
			&:first-child {
				font-size: var(--fontSize);
				text-anchor: end;
				transform: translate(-2px, calc(var(--smallFontSize) / -2));
			}
			&:last-child {
				font-size: var(--smallFontSize);
				font-weight: 400;
				text-anchor: start;
				transform: translate(2px, calc(var(--smallFontSize) / -2));
			}
		}
		circle {
			opacity: 0.5;
			fill: #fff;
		}
	}
	.channel-line {
		path {
			fill: none;
		}
	}
	.title {
		text {
			font-size: var(--h2FontSize);
			stroke: var(--lightGray);
			opacity: 0.3;
			font-weight: 300;
			text-anchor: start;
			opacity: 0.3;
			transform: translate(0, calc(var(--h2FontSize) * 1.1));
		}
	}
	.tick {
		line {
			stroke: var(--darkGray);
			stroke-width: 1;
		}
		text {
			fill: var(--lightGray);
			font-size: var(--h5FontSize);
			text-anchor: start;
			font-weight: 300;
			transform: translate(0, calc(var(--smallFontSize) / 2));
		}
	}
	.tick-x {
		line {
			opacity: 0.5;
		}
		text {
			text-anchor: middle;
			transform: translate(0, calc(var(--smallFontSize) / -4));
		}
	}
	.tick-axis text {
		font-weight: 400;
		fill: #fff;
	}
	.tick-secondary line {
		stroke-dasharray: 1, 2;
	}
}

.quantum-benchmarks {
	.dashboard-main {
		align-items: center;
		justify-content: center;
	}
	iframe {
		border: 0;
		padding: 0;
		width: 640px;
		height: 400px;
		transform: scale(1.5);
		transform-origin: center;
	}
	.benchmark-sm {
		background: no-repeat url('./data/responsiveness-2017-04-30.png') center;
		background-size: contain;
		height: 80%;
		width: 80%;
		position: relative;
		div {
			position: absolute;
			top: calc(-var(--gutterX));
			left: 0;
			width: 100%;
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
		}
		.label-firefox {
			color: #1685d0;

		}
		.label-chrome {
			padding-right: var(--gutterX);
			color: #df5eb4;
		}
	}
}

.quantum-metrics {
  --gridX: calc(var(--gutterX) * 2);

  .dashboard-main {
    display: flex;
		flex-direction: column;
		align-items: stretch;
		height: 100%;
		margin-top: -calc(var(--gutterY) * 1);
    section {
			flex: 1;
      position: relative;
			margin-bottom: calc(var(--gutterY) * 1);
			&:last-child {
				margin-bottom: 0;
			}
      .metrics-head {
        position: absolute;
        top: -calc(var(--gutterY) * 0.5);
        line-height: calc(var(--gutterY) * 1.5);
        text-align: center;
        width: 100%;
        left: 0;
				font-size: var(--h4FontSize);
				margin: 0;
				padding: 0;
        font-weight: 400;
				> span {
					background-color: var(--newCyan);
					color: #000;
					padding: 0 calc(var(--gutterX) * 0.5);
				}
      }
    }
  }
  .metrics-group {
    display: flex;
		height: 100%;
  }
  .metric {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: var(--gridX);
    &:first-child {
      margin-left: 0;
    }
		&.metric-info {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: var(--lightGray);
			em {
				font-size: var(--smallFontSize);
			}
			p {
				margin: 0 0 calc(var(--gutterY)) 0;
			}
			h4 {
				display: inline;
				margin: 0;
				padding: 0;
				line-height: calc(var(--gutterY));
				font-size: inherit;
			}
		}
    .metric-head {
      @extend h5;
			text-align: center;
			background-color: var(--newLime);
			white-space: nowrap;
			overflow: hidden;
			text-shadow: 0 0 1px #fff;
			color: #000;
			font-weight: 500;
      line-height: calc(var(--gutterY));
      padding: 0 calc(var(--gutterX) * 0.5);
      margin: 0;
      line-height: calc(var(--gutterY) * 2);
      margin-top: calc(var(--gutterY));
      .metric-head-sub {
        padding-left: calc(var(--gutterX) * 0.5);
        @extend h5;
        font-weight: 300;
        color: #000;
        font-weight: 300;
      }
    }
		.metric-line {
			padding-top: calc(var(--gutterY) * 0.5);
			background-color: color(var(--newLilac) shade(95%));
			flex: 1;
			&.status-wip {
				text-align: center;
				.metric-status {
					padding: 0 calc(var(--gutterX) * 0.5);
					color: #000;
					background-color: var(--lightGray);
					font-style: italic;
				}
			}
		}
		.metric-source {
			text-align: center;
			margin-top: calc(var(--gutterY) * -0.5);
			color: var(--lightGray);
			font-size: var(--smallFontSize);
			font-weight: 500;
			em {
				font-weight: 300;
				color: var(--lightGray);
				font-style: normal;
				padding-right: calc(var(--gutterX) * 0.5);
			}
		}
		.metric-telemetry {
			.metric-summary {
				display: flex;
				> div {
					flex: 1;
					text-align: center;
					.metric-value {
						display: block;
						margin-bottom: 0;
						@extend h3;
					}
					em {
						display: block;
						font-style: normal;
						color: var(--darkGray);
						font-weight: 500;
						text-shadow: 0 0 1px #000;
						font-size: var(--smallFontSize);
					}
				}
			}
		}
		.metric-benchmark {
			margin-top: calc(var(--gutterY) * 0.5);
		}
  }
}

.quantum-countdown {
	section {
		text-align: center;
		flex-direction: column;
    padding: 0;
    &.channel-aurora {
      h2 {
        background-color: var(--dinoRed);
      }
    }
    &.channel-beta {
      padding-top: calc(var(--gutterY) * 3);
      h2 {
        background-color: var(--marketOrange);
      }
    }
    &.channel-release {
      padding-top: calc(var(--gutterY) * 6);
      h2 {
        background-color: var(--geckoGreen);
      }
    }
	}
	h2 {
		@extend h2;
    color: #000;
    margin: 0;
    padding: 0;
    line-height: calc(var(--gutterY) * 3);
    font-weight: 300;
    margin-bottom: calc(var(--gutterY) * 1.5);
	}
  h3 {
    /*line-height: calc(var(--gutterY) * 2);*/
    margin-bottom: calc(var(--gutterY) * 1);
    span {
      font-weight: 300;
      color: var(--darkGray);
    }
  }
  .countdown-row {
    margin-bottom: calc(var(--gutterY) * 2);
  }
  .countdown-number {
    @extend h1;
    font-weight: 400;
  }
  .countdown-date {
    @extend h2;
    font-weight: 300;
    /*line-height: 1;*/
    color: var(--lightGray);
  }
  small, h4 {
    @extend h4;
    font-weight: 400;
    color: var(--darkGray);
    margin: 0;
    padding: 0;
    sup {
      display: block;
      font-size: var(--smallFontSize);
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
