@import "css/colors.css";
@import "metrics-graphics/dist/metricsgraphics.css";

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100%;
}
body {
  display: flex;
  justify-content: center;
  font: 14px/20px 'Open Sans', sans-serif;
  background-color: #fff;
  color: #333;
}
#root {
  display: flex;
  justify-content: center;
}

.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text {
  opacity: 0.8;
}
